In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [36]:
%matplotlib inline

In [37]:
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, scale
from sklearn import metrics as mt # mean_squared_error, confusion_matrix, roc_auc_score
from sklearn.neighbors import NearestNeighbors

In [133]:
# cleaned up IPPS dataset
df=pd.read_csv('data/IPPS_Data_Clean.csv', \
               dtype={'provider_id':str,'provider_zip_code':str, 'drg_id':str,'total_discharges':float})

df['provider_city_state'] = df.provider_city + ', ' + df.provider_state
df.head(3)

,drg_id,drg_definition,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zip_code,hospital_referral_region_description,total_discharges,average_covered_charges,average_total_payments,average_medicare_payments,provider_city_state
0,039,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,91.0,32963.07,5777.24,4763.73,"DOTHAN, AL"
1,039,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,AL - Birmingham,14.0,15131.85,5787.57,4976.71,"BOAZ, AL"
2,039,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10006,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,AL - Birmingham,24.0,37560.37,5434.95,4453.79,"FLORENCE, AL"

In [134]:
# Calculates the national median cost for each procedure
natmed = pd.DataFrame(df.groupby('drg_id',sort=False)['average_covered_charges'].median()).reset_index()
natmed = natmed.rename(columns={'average_covered_charges':'median_covered_charges'})
natmed.head()

  drg_id  median_covered_charges
0    039               26651.000
1    057               20453.050
2    069               18342.265
3    064               40953.590
4    065               25151.470

In [135]:
# Adds a column that is the fractional difference in total charges from the national median (for that 
# particular procedure)
procedures=df.drg_id.unique()
df['frac_diff'] = 0.0#pd.Series([0.0]*len(df))

for i in procedures:
    med = natmed.loc[natmed.drg_id == i,'median_covered_charges'].iloc[0]
    df.loc[df.drg_id == i,'frac_diff'] = df.loc[df.drg_id == i,'average_covered_charges']/med - 1.0

df.head(3)

,drg_id,drg_definition,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zip_code,hospital_referral_region_description,total_discharges,average_covered_charges,average_total_payments,average_medicare_payments,provider_city_state,frac_diff
0,039,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,91.0,32963.07,5777.24,4763.73,"DOTHAN, AL",0.236842
1,039,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,AL - Birmingham,14.0,15131.85,5787.57,4976.71,"BOAZ, AL",-0.432222
2,039,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10006,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,AL - Birmingham,24.0,37560.37,5434.95,4453.79,"FLORENCE, AL",0.409342

In [ ]:
# prov = df.provider_id.unique()
# dfprov = df.drop_duplicates(subset='provider_id')
# dfprov = dfprov.drop(['drg_id','drg_definition']+list(df.columns[9:14]),axis=1)

# fm = pd.DataFrame(df.groupby('provider_id',sort=False)['frac_diff'].mean()).reset_index()
# dfprov = dfprov.merge(fm,on='provider_id')

# df = dfprov
# df.head()

In [136]:
# GPS locations of every unique provider

dfprov=pd.read_csv('data/Providers_Geocode.csv',usecols=['provider_id','lat','lng'],dtype={'provider_id':str})
dfprov.head(3)

  provider_id        lat        lng
0       10001  31.216725 -85.363068
1       10005  34.221556 -86.159441
2       10006  34.793845 -87.683155

In [ ]:
# dfins = pd.read_csv('InsuranceCoverage_Adults16-64.csv',usecols=['Location','Uninsured'])#,encoding='Latin')
# dfins=dfins[1:].reset_index(drop=True)#.head()

# # Dataframe that lists states and their abbreviations for mapping
# abbrev = pd.read_csv('states.csv').rename(columns={'State':'Location','Abbreviation':'provider_state'})
# dfins = dfins.merge(abbrev,on ='Location')[['provider_state','Uninsured']]
# dfins.head()

In [137]:
# Population by state dataframe (Census.gov)

dfstates=pd.read_csv('data/NST-EST2015-alldata.csv',usecols=['NAME','POPESTIMATE2011'])#,dtype={'POPESTIMATE2011':float})
dfstates = dfstates[5:56].reset_index(drop=True)

# Dataframe that lists states and their abbreviations for mapping
abbrev = pd.read_csv('data/states.csv').rename(columns={'State':'NAME','Abbreviation':'provider_state'})

dfstates = dfstates.merge(abbrev,on ='NAME')
dfstates = dfstates[['provider_state','POPESTIMATE2011']]#,'RBIRTH2011','RDEATH2011']]
dfstates = dfstates.rename(columns={'POPESTIMATE2011':'state_population2011'})

dfstates.head(3)

  provider_state  state_population2011
0             AL               4801108
1             AK                722720
2             AZ               6468732

In [138]:
# Population by city dataframe (Census.gov)

dfcities = pd.read_csv('data/SUB-EST2015_ALL.csv',encoding='latin-1',usecols=['SUMLEV','NAME','STNAME','POPESTIMATE2011'])
dfcities = dfcities[(dfcities.SUMLEV == 162) | (dfcities.SUMLEV == 170)]
print(len(dfcities))
# Dataframe that lists states and their abbreviations for mapping
abbrev = pd.read_csv('data/states.csv').rename(columns={'State':'STNAME','Abbreviation':'provider_state'})

dfcities = dfcities.merge(abbrev,on ='STNAME')
dfcities = dfcities[['NAME','provider_state','POPESTIMATE2011']]
dfcities = dfcities.rename(columns={'NAME':'provider_city','POPESTIMATE2011':'city_population2011'})

#removes ' city' and ' town' from end of name
dfcities.provider_city = dfcities.provider_city.map(lambda x: str(x)[:-5]).str.upper()

dfcities['provider_city_state'] = dfcities.provider_city + ', ' +dfcities.provider_state
dfcities = dfcities[['provider_city_state','city_population2011']]
print(len(dfcities))
dfcities.head()

19513
19513

  provider_city_state  city_population2011
0       ABBEVILLE, AL                 2686
1      ADAMSVILLE, AL                 4496
2         ADDISON, AL                  753
3           AKRON, AL                  345
4       ALABASTER, AL                31281

In [130]:
# dfcities[(dfcities.NAME.map(lambda x: str(x)[-5:]) != ' town') & \
#          (dfcities.NAME.map(lambda x: str(x)[-5:]) != ' city') & \
#          (dfcities.NAME.map(lambda x: str(x)[-13:]) != ' municipality') & \
#          (dfcities.NAME.map(lambda x: str(x)[-8:]) != ' borough') & \
#          (dfcities.NAME.map(lambda x: str(x)[-8:]) != ' village')].reset_index()

In [139]:
# Population by zip code dataframe (http://notnullhypothesis.com/2010-census-data-by-zip-code-population/)

#dfzip = pd.read_csv('2010CensusPopulationData.csv',usecols=['Zip','Population'],dtype={'Zip':str})
dfzip = pd.read_csv('data/Zipcode-ZCTA-Population-Density-And-Area-Unsorted.csv', \
                   dtype={'Zip':str},usecols=['Zip','2010 Population','Density Per Sq Mile'])
dfzip.Zip = dfzip.Zip.str.zfill(5)
dfzip = dfzip.rename(columns = {'Zip':'provider_zip_code','2010 Population':'zip_population2010', \
                               'Density Per Sq Mile':'zip_pop2010_density'})
dfzip.head()

  provider_zip_code  zip_population2010  zip_pop2010_density
0             00601                   0                  0.0
1             00602                   0                  0.0
2             00603                   0                  0.0
3             00606                   0                  0.0
4             00610                   0                  0.0

In [140]:
# Median income by zipcode (http://www.psc.isr.umich.edu/dis/census/Features/tract2zip/)

dfincome = pd.read_csv('data/MedianZIP-3.csv',dtype={'Zip':str},usecols=['Zip','Median'])

dfincome.Zip = dfincome.Zip.str.zfill(5)
dfincome.Median = dfincome.Median.str.replace(',','').astype(int)
dfincome = dfincome.rename(columns={'Zip':'provider_zip_code','Median':'zip_median_income'})

dfincome.head()

  provider_zip_code  zip_median_income
0             01001              56663
1             01002              49853
2             01003              28462
3             01005              75423
4             01007              79076

In [142]:
print(len(dfcities))
print(len(dfcities.drop_duplicates(subset='provider_city_state')))

19513
19502

In [143]:
# Combines all into one dataframe and selects the relevant columns
#df['provider_city_state'] = df.provider_city + ', ' + df.provider_state

dftot = df.merge(dfprov, on='provider_id')
#dftot = dftot.merge(dfins,on='provider_state')
#dftot = dftot.merge(dfstates, on='provider_state')
#dftot = dftot.merge(dfzip, on='provider_zip_code')
#dftot = dftot.merge(dfcities, on=['provider_city_state'])
#dftot = dftot.merge(dfincome, on='provider_zip_code')
#dftot = dftot.drop([list(dftot.columns)[1]]+list(dftot.columns)[3:5]+list(dftot.columns)[11:13],axis=1)
#dftot.head()
#dftot.provider_id.nunique()
len(dftot)

163065

In [146]:
dftot['frac_diff_class'] = dftot.frac_diff >= 0.0
dftot.head(3)

,drg_id,drg_definition,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zip_code,hospital_referral_region_description,total_discharges,average_covered_charges,average_total_payments,average_medicare_payments,provider_city_state,frac_diff,lat,lng,frac_diff_class
0,039,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,91.0,32963.07,5777.24,4763.73,"DOTHAN, AL",0.236842,31.216725,-85.363068,True
1,057,057 - DEGENERATIVE NERVOUS SYSTEM DISORDERS W/...,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,38.0,20312.78,4894.76,3865.50,"DOTHAN, AL",-0.006858,31.216725,-85.363068,False
2,064,064 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,84.0,38820.39,10260.21,9167.08,"DOTHAN, AL",-0.052088,31.216725,-85.363068,False

In [147]:
dftot.groupby('frac_diff_class').size()

frac_diff_class
False    81506
True     81559
dtype: int64

In [ ]:
# from geopy.distance import vincenty
# import time

In [ ]:
# %%time
# df_frac['n_hosp'] = 0.0

# pts = [df_frac.lat,df_frac.lng]
# pts = list(list(x) for x in zip(*pts))
# i=0

# for index, row in df_frac[['lat','lng']].iterrows():
#     ts = time.clock()
#     count = 0
#     pt1 = [row.lat,row.lng]
    
#     for pt in pts:
#         dist = vincenty(pt1, pt).miles
#         if dist < 40 and dist > 0:
#             count +=1
            
#     df_frac.loc[index,'n_hosp'] = count
#     i+=1
#     if i % 100 == 0: print(i,time.clock()-ts)

In [ ]:
#dftot = dftot.merge(df_frac['n_hosp'].reset_index(), on='provider_id' )

In [ ]:
# %%time

# df_frac['n_hosp'] = 0.0

# pts = [df_frac.lat,df_frac.lng]
# pts = list(list(x) for x in zip(*pts))

# i=0
# for index1, row1 in df_frac[['lat','lng']].iterrows():
#     if i == 20: break
#     pt1 = [row1.lat,row1.lng]
#     ts = time.clock()
#     for index2, row2 in df_frac.loc[index1:,['lat','lng']].iterrows():
#         dist = vincenty(pt1, [row2.lat,row2.lng]).miles
#         if dist < 40 and dist > 0:
#             df_frac.loc[index1,'n_hosp'] += 1
#             df_frac.loc[index2,'n_hosp'] += 1
#     #print(time.clock()-ts)
#     i+=1

In [ ]:
# Random Forest Regressor using entire dataset
inx = ['lat','lng']#lat','lng']#,'zip_pop2010_density','zip_population2010','zip_median_income']#,'provider_id']#['lat','lng']#
dfX = df_frac.loc[:,inx]#zip_population2010']]
dfY = df_frac.loc[:,'frac_class']

dfX.head()

In [ ]:
# dfX = pd.get_dummies(dfX, columns=['drg_id'], dummy_na=True)
# dfX.head()

In [ ]:
rf = RandomForestClassifier(n_jobs=-1)
#rf.n_estimators=10

X_train, X_test, y_train, y_test = train_test_split(dfX, dfY, train_size=2./3)

rf.fit(X_train,y_train)

y_train_pred = rf.predict(X_train)
y_test_pred = rf.predict(X_test)

rf.score(X_test,y_test)

In [ ]:
# clf = LogisticRegression()
# X_train, X_test, y_train, y_test = train_test_split(dfX, dfY, train_size=2./3)

# clf.fit(X_train,y_train)

# y_train_pred = clf.predict(X_train)
# y_test_pred = clf.predict(X_test)

# clf.score(X_test,y_test)

In [ ]:
def plot_confusion_matrix(cm, title='Confusion matrix', cmap=plt.cm.Blues):
    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(2)
    tick_label = ['f < 0','f > 0']
    plt.xticks(tick_marks, tick_label, rotation=45)
    plt.yticks(tick_marks, tick_label)
    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')

In [ ]:
cm = mt.confusion_matrix(y_test, y_test_pred)

print('Confusion matrix')
print(cm)

cm_normalized = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
print('Normalized confusion matrix')
print(cm_normalized)


plt.figure()
plot_confusion_matrix(cm,title='Confusion matrix, without normalization')
plt.figure()
plot_confusion_matrix(cm_normalized, title='Normalized confusion matrix')

In [ ]:
y_score = rf.predict_proba(X_test)[:,1]

print('AUC Score =',mt.roc_auc_score(y_test, y_score))
fpr, tpr, thresholds = mt.roc_curve(y_test,y_score)
plt.figure()
plt.plot(fpr,tpr)
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate');

In [ ]:
dftmp = dftot.loc[y_test.index][['provider_state','frac_diff_class']]
dftmp['frac_diff_class_pred'] = y_test_pred
dftmp['class_pred'] = dftmp.frac_diff_class == dftmp.frac_diff_class_pred
dftmp.head()

In [ ]:
df_state_pred = dftmp.groupby(['provider_state','class_pred']).size().unstack()
df_state_pred['Percent'] = df_state_pred[df_state_pred.columns[1]]/df_state_pred.sum(axis=1)
df_state_pred.head()

In [ ]:
df_state_pred.plot(y='Percent',kind='bar',figsize=(25,12),fontsize=20);

In [ ]:
#finds the median gps coordinates of all providers in each state
df_state_geo = dftot[['provider_state','lat','lng']]
df_state_geo = df_state_geo.groupby(['provider_state']).median()
df_state_geo.head()

In [ ]:
df_state = df_state_pred.merge(df_state_geo,right_index=True,left_index=True)
df_state.head()

In [ ]:
df_state.sort_values('lng').plot(y = 'Percent',kind ='bar',figsize=(20,10));